Repository anycable/docs.anycable.io: changes, and which lefthook commands are due for each by the changed paths.
All: mdl, lychee, forspell, rubocop

mdl:
  tags: style
  run: mdl {staged_files}

lychee:
  tags: links
  run: lychee docs/* --exclude "(anycable-go|ruby|rails|anycable-go-pro-releases)/" --exclude "jetrockets" --exclude "(master|stable)/docs" --exclude-mail

forspell:
  tags: grammar
  run: BUNDLE_GEMFILE=gemfiles/forspell.gemfile bundle exec forspell {staged_files}

rubocop:
  tags: style
  run: BUNDLE_GEMFILE=gemfiles/rubocop.gemfile bundle exec rubocop {staged_files} -c .rubocop-md.yml

docs: address 4th review (OCPP caveat, redirect dedup, explicit WS URLs)
  docs/anycable-go/options.md
  docs/public/_redirects
  docs/use-cases/ai-streaming.md
  docs/use-cases/gps-dispatch.md
  docs/use-cases/live-dashboards.md
  docs/use-cases/telehealth.md
Due: mdl, lychee, forspell, rubocop

docs: move use-case guides to a separate PR
  docs/.vitepress/config.mts
  docs/.vitepress/theme/layouts/LandingLayout.vue
  docs/use-cases/ai-streaming.md
  docs/use-cases/gps-dispatch.md
  docs/use-cases/index.md
  docs/use-cases/live-dashboards.md
  docs/use-cases/telehealth.md
Due: mdl, lychee, forspell, rubocop

docs: reposition around ICP, use cases, and delivery guarantees (#59)
  .gitignore
  docs/.vitepress/config.mts
  docs/.vitepress/theme/layouts/LandingLayout.vue
  docs/anycable-go/broadcasting.md
  docs/anycable-go/configuration.md
  docs/anycable-go/jwt_identification.md
  docs/anycable-go/ocpp.md
  docs/anycable-go/options.md
  docs/anycable-go/reliable_streams.md
  docs/anycable-go/rpc.md
  docs/architecture.md
  docs/capabilities.md
  docs/editions.md
  docs/getting_started.md
  docs/guides/laravel.md
  docs/guides/python.md
  docs/guides/serverless.md
  docs/overview.md
  docs/pro.md
  docs/public/_redirects
  docs/quickstart.md
  docs/release_notes.md
  docs/ruby/broadcast_adapters.md
  docs/ruby/non_rails.md
  forspell.dict
Due: mdl, lychee, forspell, rubocop

docs: add Build-by-use-case guides
  docs/.vitepress/config.mts
  docs/.vitepress/theme/layouts/LandingLayout.vue
  docs/use-cases/ai-streaming.md
  docs/use-cases/gps-dispatch.md
  docs/use-cases/index.md
  docs/use-cases/live-dashboards.md
  docs/use-cases/telehealth.md
Due: mdl, lychee, forspell, rubocop

chore: consolidate internal LLM working files under gitignored .llm-docs/
  .gitignore
Due: none

docs: address use-case review (copy-paste, accuracy, consistency)
  docs/use-cases/ai-streaming.md
  docs/use-cases/gps-dispatch.md
  docs/use-cases/index.md
  docs/use-cases/live-dashboards.md
  docs/use-cases/telehealth.md
Due: mdl, lychee, forspell, rubocop

docs(python): remove AI-shaped tells from the Python guide
  docs/guides/python.md
Due: mdl, lychee, forspell, rubocop

feat: add Plausible analytics (privacy-friendly, cookieless)
  docs/.vitepress/config.mts
Due: none

feat: add 'Something's missing' doc feedback button
  docs/.vitepress/theme/components/DocFeedback.vue
  docs/.vitepress/theme/index.ts
Due: none

Add Plausible analytics + a 'Something's missing' doc feedback button (#62)
  docs/.vitepress/config.mts
  docs/.vitepress/theme/components/DocFeedback.vue
  docs/.vitepress/theme/index.ts
Due: none

feat: auto-label doc feedback issues with docs-feedback
  docs/.vitepress/theme/components/DocFeedback.vue
Due: none

feat: auto-label doc feedback issues with docs-feedback (#63)
  docs/.vitepress/theme/components/DocFeedback.vue
Due: none

docs(python): remove AI-shaped tells from the Python guide (#61)
  docs/guides/python.md
Due: mdl, lychee, forspell, rubocop

docs: first-class JavaScript client docs (SDK, reliability, auth, presence, platforms)
  .gitignore
  docs/.vitepress/config.mts
  docs/anycable-go/presence.md
  docs/capabilities.md
  docs/guides/client-side.md
  docs/guides/hotwire.md
  docs/guides/laravel.md
  docs/guides/serverless.md
  docs/js/authentication.md
  docs/js/platforms.md
  docs/js/presence.md
  docs/js/reliability.md
  docs/js/testing.md
  docs/quickstart.md
  forspell.dict
Due: mdl, lychee, forspell, rubocop

docs: clarity pass on JS client pages; fix presence events API
  docs/guides/client-side.md
  docs/guides/hotwire.md
  docs/js/authentication.md
  docs/js/platforms.md
  docs/js/presence.md
  docs/js/reliability.md
  docs/js/testing.md
Due: mdl, lychee, forspell, rubocop

docs: describe backend modes without RPC jargon on the SDK hub
  docs/guides/client-side.md
Due: mdl, lychee, forspell, rubocop

docs: drop RPC jargon from quickstart and capabilities
  docs/capabilities.md
  docs/quickstart.md
Due: mdl, forspell, rubocop

docs: fix config defaults, document Node logger and TestCable import caveats
  docs/guides/client-side.md
  docs/js/platforms.md
  docs/js/testing.md
Due: mdl, lychee, forspell, rubocop

docs: add Vite to forspell dictionary
  forspell.dict
Due: none

docs: label client vs server SDK in the JavaScript sidebar group
  docs/.vitepress/config.mts
Due: none

docs: fix broadcast auth in python guide and serverless channel registration
  docs/guides/python.md
  docs/guides/serverless.md
Due: mdl, lychee, forspell, rubocop

docs: move JavaScript sidebar group after Capabilities; point client SDK links at local pages
  docs/.vitepress/config.mts
  docs/anycable-go/binary_formats.md
  docs/anycable-go/broker.md
  docs/anycable-go/jwt_identification.md
  docs/anycable-go/long_polling.md
  docs/anycable-go/presence.md
  docs/guides/serverless.md
Due: mdl, lychee, forspell, rubocop

feat: serve Markdown to agents via Accept-header content negotiation
  docs/netlify/edge-functions/markdown-for-agents.ts
Due: none

First-class JavaScript client docs: SDK guide, reliability, auth, presence, platforms (#64)
  .gitignore
  docs/.vitepress/config.mts
  docs/anycable-go/binary_formats.md
  docs/anycable-go/broker.md
  docs/anycable-go/jwt_identification.md
  docs/anycable-go/long_polling.md
  docs/anycable-go/presence.md
  docs/capabilities.md
  docs/guides/client-side.md
  docs/guides/hotwire.md
  docs/guides/laravel.md
  docs/guides/python.md
  docs/guides/serverless.md
  docs/js/authentication.md
  docs/js/platforms.md
  docs/js/presence.md
  docs/js/reliability.md
  docs/js/testing.md
  docs/quickstart.md
  forspell.dict
Due: mdl, lychee, forspell, rubocop

docs: drop RPC jargon from quickstart and capabilities (#65)
  docs/capabilities.md
  docs/quickstart.md
Due: mdl, forspell, rubocop

feat: serve Markdown to agents via Accept-header content negotiation (#66)
  docs/netlify/edge-functions/markdown-for-agents.ts
Due: none

docs: rewrite repo README reader-first, contributor second
  README.md
Due: none

docs: rewrite repo README reader-first, contributor second (#67)
  README.md
Due: none

docs: add Client SDK card to the landing Explore section
  docs/.vitepress/theme/layouts/LandingLayout.vue
Due: none

docs: add Client SDK card to the landing Explore section (#68)
  docs/.vitepress/theme/layouts/LandingLayout.vue
Due: none

docs: add An Introduction to Realtime Web concept primer
  docs/.vitepress/config.mts
  docs/overview.md
  docs/realtime-web.md
  forspell.dict
Due: mdl, forspell, rubocop

docs: add Key terms definitions to the realtime web primer
  docs/realtime-web.md
  forspell.dict
Due: mdl, forspell, rubocop

docs: define delivery semantics and connection state recovery in Key terms
  docs/realtime-web.md
  forspell.dict
Due: mdl, forspell, rubocop

docs: credit AnyCable with exactly-once delivery in Key terms
  docs/realtime-web.md
Due: mdl, forspell, rubocop

docs: define reconnection avalanche, RPC, and broker in Key terms
  docs/realtime-web.md
Due: mdl, forspell, rubocop

docs: define JWT in Key terms
  docs/realtime-web.md
Due: mdl, forspell, rubocop

docs: qualify the connections benchmark as idle and credit broker with presence
  docs/realtime-web.md
Due: mdl, forspell, rubocop

docs: add An Introduction to Realtime Web concept primer (#69)
  docs/.vitepress/config.mts
  docs/overview.md
  docs/realtime-web.md
  forspell.dict
Due: mdl, forspell, rubocop

docs: render the PRO badge on Pro pages
  docs/.vitepress/theme/style.css
Due: none

docs: make the realtime web primer skimmable and move it after Troubleshooting
  docs/.vitepress/config.mts
  docs/realtime-web.md
Due: mdl, forspell, rubocop

Path conditions:
  mdl: any of: **/*.md
  lychee: any of: docs/**/*.md
  forspell: any of: **/*.md
  rubocop: any of: **/*.md
