Repository anycable/docs.anycable.io: changes, and which lefthook commands are due for each by the changed paths.
All: mdl, lychee, forspell, rubocop

lefthook.yml:

pre-commit:
  commands:
    mdl:
      tags: style
      glob: "**/*.md"
      run: mdl {staged_files}
    lychee:
      tags: links
      glob: "docs/**/*.md"
      run: lychee docs/* --exclude "(anycable-go|ruby|rails|anycable-go-pro-releases)/" --exclude "jetrockets" --exclude "(master|stable)/docs" --exclude-mail
    forspell:
      tags: grammar
      glob: "**/*.md"
      run: BUNDLE_GEMFILE=gemfiles/forspell.gemfile bundle exec forspell {staged_files}
    rubocop:
      tags: style
      glob: "**/*.md"
      run: BUNDLE_GEMFILE=gemfiles/rubocop.gemfile bundle exec rubocop {staged_files} -c .rubocop-md.yml

ci: trieve.yml
  .github/workflows/trieve.yml
Due: none

ci: trieve.yml
  .github/workflows/trieve.yml
  docs/.trieve.yml
Due: none

fix: heroku buttom
  docs/deployment/heroku.md
Due: mdl, lychee, forspell, rubocop

docs: upd Heroku env vars
  docs/deployment/heroku.md
Due: mdl, lychee, forspell, rubocop

+ client-side.md
  docs/README.md
  docs/_sidebar.md
  docs/guides/client-side.md
Due: mdl, lychee, forspell, rubocop

- upd client-side turbo snippet
  docs/guides/client-side.md
Due: mdl, lychee, forspell, rubocop

pro: note about invitations
  docs/pro/install.md
Due: mdl, lychee, forspell, rubocop

+ sidebar: presence
  docs/_sidebar.md
Due: mdl, forspell, rubocop

upd edge links + add 1.6
  .github/workflows/push-stable.yml
  .github/workflows/trieve.yml
  docs/index.html
Due: none

fix: master -> main
  docs/index.html
Due: none

Bump 1.6.0
  docs/deployment/heroku.md
  docs/index.html
Due: mdl, lychee, forspell, rubocop

fix sidebar
  docs/index.html
Due: none

main: add presence to the latest updates
  docs/README.md
Due: mdl, forspell, rubocop

release notes 1.6
  docs/release_notes.md
Due: mdl, forspell, rubocop

Fix typo
  docs/guides/serverless.md
Due: mdl, lychee, forspell, rubocop

+ docs/guides/laravel.md
  docs/README.md
  docs/_sidebar.md
  docs/guides/laravel.md
  forspell.dict
Due: mdl, lychee, forspell, rubocop

+ grpc-list://
  docs/deployment/load_balancing.md
Due: mdl, lychee, forspell, rubocop

- preview-bagde styling
  docs/assets/styles.css
Due: none

+ troubleshooting apln
  docs/troubleshooting.md
Due: mdl, forspell, rubocop

+ forspell: Kamal
  forspell.dict
Due: none

fix: composer package name
  docs/guides/laravel.md
Due: mdl, lychee, forspell, rubocop

+ kamal.md
  docs/_sidebar.md
  docs/deployment/kamal.md
  forspell.dict
Due: mdl, lychee, forspell, rubocop

+ kamal: add note about pre-app-boot
  docs/deployment/kamal.md
Due: mdl, lychee, forspell, rubocop

* ci: update trieve.yml
  .github/workflows/trieve.yml
Due: none

+ troubleshooting: alb scaling
  docs/troubleshooting.md
Due: mdl, forspell, rubocop

+ pusher + upgrade laravel guide
  docs/_sidebar.md
  docs/guides/laravel.md
Due: mdl, lychee, forspell, rubocop

+ laravel upgrade
  docs/guides/laravel.md
Due: mdl, lychee, forspell, rubocop

- linter fixes
  docs/guides/laravel.md
  forspell.dict
Due: mdl, lychee, forspell, rubocop

+ pro/install: thruster
  docs/_sidebar.md
  docs/pro/install.md
Due: mdl, lychee, forspell, rubocop

+ protocol: presence
  docs/misc/action_cable_protocol.md
Due: mdl, lychee, forspell, rubocop

- typo
  docs/pro/install.md
Due: mdl, lychee, forspell, rubocop

- revert to local search
  docs/index.html
Due: none

- hotwire: update verifier key instructions
  docs/guides/hotwire.md
Due: mdl, lychee, forspell, rubocop

+ durable_streams + api
  docs/README.md
  docs/_sidebar.md
Due: mdl, forspell, rubocop

- style
  docs/guides/hotwire.md
Due: mdl, lychee, forspell, rubocop
