Repository anycable/docs.anycable.io: changes, and which lefthook commands are due for each by the changed paths.
All: mdl, lychee, forspell, rubocop

mdl:
  tags: style
  run: mdl {staged_files}

lychee:
  tags: links
  run: lychee docs/* --exclude "(anycable-go|ruby|rails|anycable-go-pro-releases)/" --exclude "jetrockets" --exclude "(master|stable)/docs" --exclude-mail

forspell:
  tags: grammar
  run: BUNDLE_GEMFILE=gemfiles/forspell.gemfile bundle exec forspell {staged_files}

rubocop:
  tags: style
  run: BUNDLE_GEMFILE=gemfiles/rubocop.gemfile bundle exec rubocop {staged_files} -c .rubocop-md.yml

apply suggestions
  docs/README.md
  docs/guides/serverless.md
  lefthook.yml
Due: mdl, lychee, forspell, rubocop

add not about npm anycable-go to serverless
  docs/guides/serverless.md
Due: mdl, lychee, forspell, rubocop

:grammar:
  docs/README.md
  docs/guides/serverless.md
Due: mdl, lychee, forspell, rubocop

fly: add link to multi-regional episode
  docs/deployment/fly.md
Due: mdl, lychee, forspell, rubocop

Node.js -> JavaScript
  docs/README.md
  docs/_sidebar.md
  docs/guides/serverless.md
Due: mdl, lychee, forspell, rubocop

fix: upgrade katex
  docs/index.html
Due: none

latest: serverless
  docs/README.md
Due: mdl, forspell, rubocop

add favicons
  docs/assets/apple-touch-icon.png
  docs/assets/favicon-16x16.png
  docs/assets/favicon-32x32.png
  docs/index.html
Due: none

fix: architecture diagram must be visible on mobile
  docs/architecture.md
Due: mdl, forspell, rubocop

upd meta
  docs/index.html
Due: none

pro: tls is now supported
  docs/pro.md
Due: mdl, forspell, rubocop

prepare for 1.5
  docs/README.md
  docs/_sidebar.md
  docs/architecture.md
  docs/getting_started.md
  docs/release_notes.md
  docs/upgrade-notes/1_4_0_to_1_5_0.md
Due: mdl, lychee, forspell, rubocop

trouble: redis cache
  docs/troubleshooting.md
Due: mdl, forspell, rubocop

upd hotwire and serverless docs
  docs/guides/hotwire.md
  docs/guides/serverless.md
Due: mdl, lychee, forspell, rubocop

docs: upgrade notes and release notes
  docs/release_notes.md
  docs/upgrade-notes/1_4_0_to_1_5_0.md
Due: mdl, lychee, forspell, rubocop

fix: grammar
  docs/guides/hotwire.md
  forspell.dict
Due: mdl, lychee, forspell, rubocop

release notes: add Rails whispering
  docs/misc/action_cable_protocol.md
  docs/release_notes.md
Due: mdl, lychee, forspell, rubocop

v1.5
  docs/index.html
Due: none

Update heroku.md procfile
  docs/deployment/heroku.md
Due: mdl, lychee, forspell, rubocop

fix: adaptive concurrency link
  docs/pro.md
  docs/release_notes.md
Due: mdl, forspell, rubocop

pro: 1.4 -> 1.5
  docs/pro/install.md
Due: mdl, lychee, forspell, rubocop

serverless: add signed streams
  docs/guides/serverless.md
Due: mdl, lychee, forspell, rubocop

fix: new linkerd post link
  docs/deployment/load_balancing.md
Due: mdl, lychee, forspell, rubocop

use 'docs' tag for trieve
  docs/.trieve.yml
Due: none

switch to autocomplete search
  docs/assets/docsify-trieve-search.js
Due: none

- switch to hybrid mode and configure highlight_threshold
  docs/assets/docsify-trieve-search.js
Due: none

use tags to switch between versions; migrate to uptriever gem
  bin/uptriever
  docs/.trieve.yml
  docs/assets/docsify-trieve-search.js
  docs/index.html
Due: none

spike: trieve search
  docs/assets/docsify-trieve-search.js
  docs/index.html
Due: none

+ uptriever + docs/.trieve.yml
  bin/uptriever
  docs/.trieve.yml
Due: none

drop older versions
  docs/index.html
Due: none

fix namespace parsing
  docs/assets/docsify-trieve-search.js
Due: none

ci: add uptriever job
  .github/workflows/push-stable.yml
  .github/workflows/trieve.yml
Due: none

Path conditions:
  mdl: any of: **/*.md
  lychee: any of: docs/**/*.md
  forspell: any of: **/*.md
  rubocop: any of: **/*.md
