Repository anycable/docs.anycable.io: changes, and which lefthook commands are due for each by the changed paths.
All: mdl, lychee, forspell, rubocop

lefthook.yml:

pre-commit:
  commands:
    mdl:
      tags: style
      glob: "**/*.md"
      run: mdl {staged_files}
    lychee:
      tags: links
      glob: "docs/**/*.md"
      run: lychee docs/* --exclude "(anycable-go|ruby|rails|anycable-go-pro-releases)/" --exclude "jetrockets" --exclude "(master|stable)/docs" --exclude-mail
    forspell:
      tags: grammar
      glob: "**/*.md"
      run: forspell {staged_files}
    rubocop:
      tags: style
      glob: "**/*.md"
      run: BUNDLE_GEMFILE=gemfiles/rubocop.gemfile bundle exec rubocop {staged_files} -c .rubocop-md.yml

typo
  docs/deployment/fly.md
  docs/release_notes.md
Due: mdl, lychee, forspell, rubocop

Release v1.3.0
  docs/index.html
  docs/release_notes.md
Due: mdl, forspell, rubocop

docs: anycable + heroku + datadog
  docs/deployment/heroku.md
Due: mdl, lychee, forspell, rubocop

sidebar: /anycable-go/library
  docs/_sidebar.md
Due: mdl, forspell, rubocop

Update docs/deployment/heroku.md
  docs/deployment/heroku.md
Due: mdl, lychee, forspell, rubocop

Fix linters
  docs/deployment/heroku.md
  forspell.dict
Due: mdl, lychee, forspell, rubocop

Fix forspell
  gemfiles/forspell.gemfile
  lefthook.yml
Due: none

docs: fix datadog site info
  docs/deployment/heroku.md
Due: mdl, lychee, forspell, rubocop

docs: add mrsk page
  docs/deployment/mrsk.md
Due: mdl, lychee, forspell, rubocop

docs: fix redis-session-store gem name
  docs/deployment/render.md
Due: mdl, lychee, forspell, rubocop

Add link to Hanami post
  docs/README.md
Due: mdl, forspell, rubocop

add recent updates, add extended protocol
  docs/README.md
  docs/_sidebar.md
  docs/architecture.md
  docs/misc/action_cable_protocol.md
  docs/release_notes.md
Due: mdl, lychee, forspell, rubocop

fix: edge sidebar
  docs/index.html
Due: none

fix: edge sidebar again
  docs/index.html
Due: none

fix: typos
  docs/misc/action_cable_protocol.md
  forspell.dict
Due: mdl, lychee, forspell, rubocop

fix: use relative links
  docs/README.md
  docs/release_notes.md
Due: mdl, forspell, rubocop

upd arch images
  docs/architecture.md
  docs/assets/images/scheme_invert_new.png
  docs/assets/images/scheme_new.png
Due: mdl, forspell, rubocop

1.4.0-rc.1
  docs/release_notes.md
Due: mdl, forspell, rubocop

new icon
  docs/_sidebar.md
  docs/assets/new.svg
Due: mdl, forspell, rubocop

Upgrade MRSk deployment page
  docs/deployment/mrsk.md
  forspell.dict
Due: mdl, lychee, forspell, rubocop

Fix forspell installation
  gemfiles/forspell.gemfile
Due: none

Change AnyCasts about Fly.io link
  docs/deployment/fly.md
Due: mdl, lychee, forspell, rubocop

Fix yml file
  docs/_sidebar.md
  docs/deployment/Readme.md
  docs/deployment/mrsk.md
  docs/sitemap.txt
Due: mdl, lychee, forspell, rubocop

docs: fix mrsk deployment page
  docs/deployment/mrsk.md
Due: mdl, lychee, forspell, rubocop

Re-organize sidebar
  docs/_sidebar.md
  docs/assets/styles.css
  docs/pro.md
Due: mdl, forspell, rubocop

fix: update link to heroku.rake
  docs/deployment/heroku.md
Due: mdl, lychee, forspell, rubocop

release notes: redis x
  docs/release_notes.md
Due: mdl, forspell, rubocop

Fix JetRockets URLs
  docs/_sidebar.md
  docs/deployment/systemd.md
Due: mdl, lychee, forspell, rubocop

notes: broadcasting order
  docs/release_notes.md
Due: mdl, forspell, rubocop

upgrade notes, hotwire guide
  .rubocop-md.yml
  docs/_sidebar.md
  docs/guides/hotwire.md
  docs/release_notes.md
  docs/upgrade-notes/1_3_0_to_1_4_0.md
Due: mdl, lychee, forspell, rubocop

docs: redis->redisx upgrade notes
  docs/upgrade-notes/1_3_0_to_1_4_0.md
Due: mdl, lychee, forspell, rubocop
