Repository anycable/docs.anycable.io: changes, and which lefthook commands are due for each by the changed paths.
All: mdl, lychee, forspell, rubocop

lefthook.yml:

pre-commit:
  commands:
    mdl:
      tags: style
      glob: "**/*.md"
      run: mdl {staged_files}
    lychee:
      tags: links
      glob: "docs/**/*.md"
      run: lychee docs/* --exclude "(anycable-go|ruby|rails|anycable-go-pro-releases)/" --exclude "jetrockets" --exclude "(master|stable)/docs" --exclude-mail
    forspell:
      tags: grammar
      glob: "**/*.md"
      run: BUNDLE_GEMFILE=gemfiles/forspell.gemfile bundle exec forspell {staged_files}
    rubocop:
      tags: style
      glob: "**/*.md"
      run: BUNDLE_GEMFILE=gemfiles/rubocop.gemfile bundle exec rubocop {staged_files} -c .rubocop-md.yml

feat: initial vitepress setup
  docs/.vitepress/.gitignore
  docs/.vitepress/availableSinceMarkdownPlugin.ts
  docs/.vitepress/config.mts
  docs/.vitepress/theme/components/AvailableSince.vue
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/layouts/LandingLayout.vue
  docs/.vitepress/theme/style.css
  docs/README.md
  docs/index.md
  docs/package-lock.json
  docs/package.json
Due: mdl, forspell, rubocop

- misc vitepress migration fixes
  docs/.vitepress/config.mts
  docs/.vitepress/theme/layouts/LandingLayout.vue
  docs/.vitepress/theme/style.css
  docs/_sidebar.md
  docs/architecture.md
  docs/benchmarks.md
  docs/getting_started.md
  docs/guides/serverless.md
  docs/index.md
Due: mdl, lychee, forspell, rubocop

+ docs: upd home page
  docs/.vitepress/theme/layouts/LandingLayout.vue
Due: none

+ getting started
  docs/.vitepress/config.mts
  docs/getting_started.md
Due: mdl, forspell, rubocop

* cleanup old files
  .github/workflows/deploy.yml
  .github/workflows/trieve.yml
  docs/.trieve.yml
  docs/_sidebar.md
  docs/index.html
  docs/sitemap.txt
  docs/v06/index.html
  docs/v1/index.html
  etc/sitemap.rb
Due: mdl, forspell, rubocop

+ add docs from other repos
  docs/anycable-go/api.md
  docs/anycable-go/apollo.md
  docs/anycable-go/binary_formats.md
  docs/anycable-go/broadcasting.md
  docs/anycable-go/broker.md
  docs/anycable-go/configuration.md
  docs/anycable-go/durable_streams.md
  docs/anycable-go/embedded_nats.md
  docs/anycable-go/health_checking.md
  docs/anycable-go/instrumentation.md
  docs/anycable-go/jwt_identification.md
  docs/anycable-go/library.md
  docs/anycable-go/long_polling.md
  docs/anycable-go/ocpp.md
  docs/anycable-go/os_tuning.md
  docs/anycable-go/presence.md
  docs/anycable-go/pubsub.md
  docs/anycable-go/pusher.md
  docs/anycable-go/reliable_streams.md
  docs/anycable-go/rpc.md
  docs/anycable-go/signed_streams.md
  docs/anycable-go/sse.md
  docs/anycable-go/telemetry.md
  docs/anycable-go/tracing.md
  docs/rails/authentication.md
  docs/rails/channels_state.md
  docs/rails/compatibility.md
  docs/rails/extensions.md
  docs/rails/getting_started.md
  docs/rails/stimulus_reflex.md
  docs/ruby/broadcast_adapters.md
  docs/ruby/cli.md
  docs/ruby/configuration.md
  docs/ruby/exceptions.md
  docs/ruby/health_checking.md
  docs/ruby/http_rpc.md
  docs/ruby/logging.md
  docs/ruby/middlewares.md
  docs/ruby/non_rails.md
Due: mdl, lychee, forspell, rubocop

+ deploy.yml
  .github/workflows/deploy.yml
Due: none

- fix images
  docs/public/assets/images/actioncable.gif
  docs/public/assets/images/anycable.gif
  docs/public/assets/images/anycable.svg
  docs/public/assets/images/anycable_dark.svg
  docs/public/assets/images/grafana.png
  docs/public/assets/images/logo.svg
  docs/public/assets/images/logo_bw.svg
  docs/public/assets/images/logo_invert.svg
  docs/public/assets/images/pencil.svg
  docs/public/assets/images/ram_bench.png
  docs/public/assets/images/ram_bench_invert.png
  docs/public/assets/images/rtt_bench.png
  docs/public/assets/images/rtt_bench_invert.png
  docs/public/assets/images/scheme.png
  docs/public/assets/images/scheme_invert.png
  docs/public/assets/images/scheme_invert_new.png
  docs/public/assets/images/scheme_new.png
  docs/public/assets/images/share.png
Due: none

- hydration issues
  docs/.vitepress/theme/layouts/LandingLayout.vue
Due: none

Add Railway deployment guide
  docs/_sidebar.md
  docs/deployment/Readme.md
  docs/deployment/railway.md
Due: mdl, lychee, forspell, rubocop

Add Railway guide terms to forspell dictionary
  forspell.dict
Due: none

Rewrite Railway guide based on canonical AnyCable standalone setup
  docs/deployment/railway.md
Due: mdl, lychee, forspell, rubocop

+ os_tuning: ECS and Heroku ulimit updates
  docs/anycable-go/os_tuning.md
  forspell.dict
Due: mdl, lychee, forspell, rubocop

- upd netlify.toml for vitepress
  .gitignore
  netlify.toml
Due: none

- style.css: fix dark-only
  docs/.vitepress/theme/style.css
Due: none

+ vitepress-plugin-mermaid
  docs/.npmrc
  docs/.vitepress/config.mts
  docs/anycable-go/broker.md
  docs/package-lock.json
  docs/package.json
Due: mdl, lychee, forspell, rubocop

- configuration: typo ets -> etc
  docs/anycable-go/configuration.md
Due: mdl, lychee, forspell, rubocop

Add 301 redirects and sitemap.xml for docs discoverability
  docs/.vitepress/config.mts
  docs/public/_redirects
Due: none

Add redirects for /guides/anycable-go/*, /edge/*, and occp typo
  docs/public/_redirects
Due: none

Redirect /guides/reliable_streams and broadast_adapters typo
  docs/public/_redirects
Due: none

Exclude docsify Readme stubs from sitemap
  docs/.vitepress/config.mts
Due: none

Fix docs discoverability: 301 redirects + sitemap.xml (#55)
  docs/.vitepress/config.mts
  docs/public/_redirects
Due: none

+ ci: deploy netlify
  .github/workflows/deploy.yml
Due: none

Add MIT license
  MIT-LICENSE
Due: none

Use docs repo year range (2018-2026)
  MIT-LICENSE
Due: none

Add MIT license (#56)
  MIT-LICENSE
Due: none

Update README for VitePress
  README.md
Due: none

Update README for VitePress (#57)
  README.md
Due: none

Fix Lint Docs CI failures
  .rubocop-md.yml
  docs/anycable-go/library.md
  forspell.dict
Due: mdl, lychee, forspell, rubocop

Fix Lint Docs CI failures (#58)
  .rubocop-md.yml
  docs/anycable-go/library.md
  forspell.dict
Due: mdl, lychee, forspell, rubocop

docs: reposition around ICP, use cases, and delivery guarantees
  .gitignore
  docs/.vitepress/config.mts
  docs/anycable-go/broadcasting.md
  docs/anycable-go/configuration.md
  docs/anycable-go/reliable_streams.md
  docs/anycable-go/rpc.md
  docs/capabilities.md
  docs/editions.md
  docs/getting_started.md
  docs/guides/laravel.md
  docs/guides/python.md
  docs/guides/serverless.md
  docs/overview.md
  docs/pro.md
  docs/public/_redirects
  docs/quickstart.md
  docs/ruby/broadcast_adapters.md
  docs/ruby/non_rails.md
  docs/use-cases/ai-streaming.md
  docs/use-cases/gps-dispatch.md
  docs/use-cases/index.md
  docs/use-cases/live-dashboards.md
  docs/use-cases/telehealth.md
Due: mdl, lychee, forspell, rubocop

docs: add complete anycable-go server options reference
  docs/.vitepress/config.mts
  docs/anycable-go/configuration.md
  docs/anycable-go/options.md
Due: mdl, lychee, forspell, rubocop

docs: fix lint (forspell/markdownlint) and complete options reference
  docs/.vitepress/config.mts
  docs/anycable-go/broadcasting.md
  docs/anycable-go/options.md
  docs/overview.md
  docs/pro.md
  docs/ruby/broadcast_adapters.md
  docs/use-cases/ai-streaming.md
  docs/use-cases/telehealth.md
  forspell.dict
Due: mdl, lychee, forspell, rubocop

docs: fix --broadast_key typo -> --broadcast_key (release notes)
  docs/release_notes.md
Due: mdl, forspell, rubocop

docs: fix pre-existing typos found during fact-check
  docs/architecture.md
  docs/release_notes.md
  forspell.dict
Due: mdl, forspell, rubocop

docs: fix OCPP typos (OCCP -> OCPP, hearbeat -> heartbeat)
  docs/anycable-go/ocpp.md
  docs/anycable-go/options.md
Due: mdl, lychee, forspell, rubocop

docs(landing): refresh homepage to reflect new positioning
  docs/.vitepress/theme/layouts/LandingLayout.vue
Due: none

docs: address PR review (use-case correctness fixes)
  docs/public/_redirects
  docs/use-cases/ai-streaming.md
  docs/use-cases/gps-dispatch.md
  docs/use-cases/live-dashboards.md
  docs/use-cases/telehealth.md
Due: mdl, lychee, forspell, rubocop

docs: add --public to dev commands in dashboards/gps/telehealth
  docs/use-cases/gps-dispatch.md
  docs/use-cases/live-dashboards.md
  docs/use-cases/telehealth.md
Due: mdl, lychee, forspell, rubocop

docs: fix JWT param env var and enats default; show secret export
  docs/anycable-go/jwt_identification.md
  docs/anycable-go/options.md
  docs/guides/python.md
  docs/quickstart.md
Due: mdl, lychee, forspell, rubocop
