Repository anycable/docs.anycable.io: changes, and which lefthook commands are due for each by the changed paths.
All: mdl, lychee, forspell, rubocop

lefthook.yml:

pre-commit:
  commands:
    mdl:
      tags: style
      glob: "**/*.md"
      run: mdl {staged_files}
    lychee:
      tags: links
      glob: "docs/**/*.md"
      run: lychee docs/* --exclude "(anycable-go|ruby|rails|anycable-go-pro-releases)/" --exclude "jetrockets" --exclude "(master|stable)/docs" --exclude-mail
    forspell:
      tags: grammar
      glob: "**/*.md"
      run: BUNDLE_GEMFILE=gemfiles/forspell.gemfile bundle exec forspell {staged_files}
    rubocop:
      tags: style
      glob: "**/*.md"
      run: BUNDLE_GEMFILE=gemfiles/rubocop.gemfile bundle exec rubocop {staged_files} -c .rubocop-md.yml

forspell: <- Hotwired
  forspell.dict
Due: none

fix: mermaid version
  docs/index.html
Due: none

sidebar: telemetry
  docs/_sidebar.md
Due: mdl, forspell, rubocop

sidebar: Hatchbox
  docs/_sidebar.md
Due: mdl, forspell, rubocop

v1.4.0-rc.2
  docs/release_notes.md
Due: mdl, forspell, rubocop

Mark hotwire guide as new
  docs/README.md
  docs/_sidebar.md
Due: mdl, forspell, rubocop

pro: long polling
  docs/README.md
  docs/_sidebar.md
Due: mdl, forspell, rubocop

fix(protocol): history command
  docs/misc/action_cable_protocol.md
Due: mdl, lychee, forspell, rubocop

http rpc updates
  docs/README.md
  docs/_sidebar.md
  docs/architecture.md
  docs/deployment/heroku.md
  docs/release_notes.md
Due: mdl, lychee, forspell, rubocop

rewrite readme, upd sidebar
  docs/README.md
  docs/_sidebar.md
  docs/deployment/heroku.md
Due: mdl, lychee, forspell, rubocop

Add collapsible sidebar, reorganize docs, heroku updates
  docs/_sidebar.md
  docs/architecture.md
  docs/assets/styles.css
  docs/deployment/heroku.md
  docs/getting_started.md
  docs/index.html
  docs/pro.md
  docs/pro/install.md
  docs/websocket_servers.md
  forspell.dict
Due: mdl, lychee, forspell, rubocop

Add OCPP to sidebar
  docs/_sidebar.md
Due: mdl, forspell, rubocop

Add Redis broker and OCPP links to PRO
  docs/pro.md
Due: mdl, forspell, rubocop

Update release notes
  docs/release_notes.md
Due: mdl, forspell, rubocop

nondeterministic
  docs/release_notes.md
Due: mdl, forspell, rubocop

v1.4
  .github/workflows/push-stable.yml
  docs/index.html
Due: none

pro: slow drain mode
  docs/README.md
  docs/pro.md
Due: mdl, forspell, rubocop

Add link to heroku clear cache guide
  docs/pro/install.md
Due: mdl, lychee, forspell, rubocop

Add pong command
  docs/README.md
  docs/misc/action_cable_protocol.md
Due: mdl, lychee, forspell, rubocop

Add SSE
  docs/README.md
  docs/_sidebar.md
  docs/architecture.md
  docs/getting_started.md
  docs/guides/hotwire.md
Due: mdl, lychee, forspell, rubocop

+ batch broadcasting
  docs/README.md
Due: mdl, forspell, rubocop

troubles: mention grpc_kit in alpine
  docs/troubleshooting.md
Due: mdl, forspell, rubocop

style: fix md
  docs/pro.md
Due: mdl, forspell, rubocop

Add view transitions
  docs/architecture.md
  docs/assets/styles.css
  docs/assets/turbo-view-transitions.js
  docs/benchmarks.md
  docs/getting_started.md
  docs/index.html
Due: mdl, forspell, rubocop

upd main page, add link to serverless-js
  docs/README.md
  docs/_sidebar.md
  docs/architecture.md
  docs/assets/fly-sponsored-landscape-dark.svg
  docs/assets/fly-sponsored-landscape-light.svg
  docs/benchmarks.md
Due: mdl, forspell, rubocop

fly: add link to multi-regional episode
  docs/deployment/fly.md
Due: mdl, lychee, forspell, rubocop

serverless guide
  docs/README.md
  docs/_sidebar.md
  docs/assets/serverless-dark.png
  docs/assets/serverless-light.png
  docs/assets/styles.css
  docs/deployment.md
  docs/deployment/Readme.md
  docs/guides/serverless.md
Due: mdl, lychee, forspell, rubocop

:grammar:
  docs/README.md
  docs/guides/serverless.md
Due: mdl, lychee, forspell, rubocop

forspell upd
  forspell.dict
Due: none

add not about npm anycable-go to serverless
  docs/guides/serverless.md
Due: mdl, lychee, forspell, rubocop

apply suggestions
  docs/README.md
  docs/guides/serverless.md
  lefthook.yml
Due: mdl, lychee, forspell, rubocop
