Repository anycable/docs.anycable.io: changes, and which lefthook commands are due for each by the changed paths.
All: mdl, liche, forspell, rubocop

mdl:
  tags: style
  run: mdl {staged_files}

liche:
  tags: links
  run: liche -c 2 -r docs/* -d docs/ -x "(anycable-go|ruby|rails|anycable-go-pro-releases)/"

forspell:
  tags: grammar
  run: forspell {staged_files}

rubocop:
  tags: style
  run: BUNDLE_GEMFILE=gemfiles/rubocop.gemfile bundle exec rubocop {staged_files}

JWT and signed streams no longer pro
  docs/_sidebar.md
Due: mdl, forspell, rubocop

v1.1 -> v1.2
  docs/_sidebar.md
  docs/index.html
Due: mdl, forspell, rubocop

v1.2 release notes
  docs/release_notes.md
Due: mdl, forspell, rubocop

Add link to kuby-anycable to kubernetes
  docs/deployment/kubernetes.md
  forspell.dict
Due: mdl, liche, forspell, rubocop

Gitter -> Discord
  docs/_sidebar.md
Due: mdl, forspell, rubocop

Add mermaid support
  docs/assets/styles.css
  docs/index.html
Due: none

sidebar: hotwire
  docs/_sidebar.md
Due: mdl, forspell, rubocop

Fix typo
  docs/benchmarks.md
Due: mdl, forspell, rubocop

upd: k8s clusterIP and connection max ages
  docs/deployment/kubernetes.md
  docs/deployment/load_balancing.md
Due: mdl, liche, forspell, rubocop

Add linkerd post links
  docs/README.md
  docs/deployment/load_balancing.md
  forspell.dict
Due: mdl, liche, forspell, rubocop

Update links on the home page
  docs/README.md
Due: mdl, forspell, rubocop

deploy: fly
  docs/deployment/fly.md
Due: mdl, liche, forspell, rubocop

upd: fly
  docs/deployment/fly.md
Due: mdl, liche, forspell, rubocop

upd: fly auth
  docs/deployment/fly.md
Due: mdl, liche, forspell, rubocop

sidebar: fly
  docs/_sidebar.md
Due: mdl, forspell, rubocop

fix: use docsify-katex 1.4.4
  docs/index.html
Due: none

Adds a deploy guide for Render.com
  docs/deployment/render.md
Due: mdl, liche, forspell, rubocop

deploy: render
  docs/_sidebar.md
  docs/deployment/render.md
Due: mdl, liche, forspell, rubocop

lint: liche -> lychee
  .github/workflows/docs-lint.yml
  lefthook.yml
Due: none

pro: upd version
  docs/pro.md
Due: mdl, forspell, rubocop

upd: misconfiguration troubleshooting
  docs/troubleshooting.md
Due: mdl, forspell, rubocop

style: fix
  .mdlrc
  docs/deployment/render.md
  forspell.dict
Due: mdl, liche, forspell, rubocop

Add link to ECS post
  docs/_sidebar.md
Due: mdl, forspell, rubocop

ci: add push-stable workflow
  .github/workflows/push-stable.yml
Due: none

feat: add versioning for general docs
  docs/index.html
Due: none

lb: rpc_max_connection_age and grpc_active_conn_num
  docs/deployment/load_balancing.md
Due: mdl, liche, forspell, rubocop

pro: add adaptive concurrency
  docs/assets/styles.css
  docs/pro.md
Due: mdl, forspell, rubocop

Add v1-1 and v1-2
  docs/index.html
Due: none

fix: pro badge style
  docs/assets/styles.css
Due: none

ci: migrate to reusable workflows
  .github/workflows/docs-lint.yml
  .github/workflows/push-stable.yml
Due: none

1.3 upgrade/release notes
  docs/_sidebar.md
  docs/assets/styles.css
  docs/release_notes.md
  docs/upgrade-notes/1_2_0_to_1_3_0.md
Due: mdl, liche, forspell, rubocop

fix style/grammer
  .github/workflows/docs-lint.yml
  .gitignore
  .mdlrc
  .rubocop-md.yml
  .rubocop.yml
  docs/release_notes.md
  docs/upgrade-notes/1_2_0_to_1_3_0.md
  gemfiles/rubocop.gemfile
  lefthook.yml
Due: mdl, liche, forspell, rubocop

fix release notes
  docs/release_notes.md
Due: mdl, forspell, rubocop

Add embedded nats
  docs/_sidebar.md
Due: mdl, forspell, rubocop

fix: rubocop excludes
  .rubocop-md.yml
Due: none

upgrade fly docs
  docs/deployment/fly.md
Due: mdl, liche, forspell, rubocop

upgrade 1.3.0 release notes
  docs/release_notes.md
Due: mdl, forspell, rubocop

fix link to embedded nats
  docs/deployment/fly.md
Due: mdl, liche, forspell, rubocop

Path conditions:
  mdl: any of: **/*.md
  liche: any of: docs/**/*.md
  forspell: any of: **/*.md
  rubocop: any of: **/*.md
