Repository anycable/docs.anycable.io: changes, and which lefthook commands are due for each by the changed paths.
All: mdl, lychee, forspell, rubocop

lefthook.yml:

pre-commit:
  commands:
    mdl:
      tags: style
      glob: "**/*.md"
      run: mdl {staged_files}
    lychee:
      tags: links
      glob: "docs/**/*.md"
      run: lychee docs/* --exclude "(anycable-go|ruby|rails|anycable-go-pro-releases)/" --exclude "jetrockets" --exclude "(master|stable)/docs" --exclude-mail
    forspell:
      tags: grammar
      glob: "**/*.md"
      run: BUNDLE_GEMFILE=gemfiles/forspell.gemfile bundle exec forspell {staged_files}
    rubocop:
      tags: style
      glob: "**/*.md"
      run: BUNDLE_GEMFILE=gemfiles/rubocop.gemfile bundle exec rubocop {staged_files} -c .rubocop-md.yml

docs: make the realtime web primer skimmable and move it after Troubleshooting (#73)
  docs/.vitepress/config.mts
  docs/realtime-web.md
Due: mdl, forspell, rubocop

docs: drop the unused .pro-badge rule and crop the badge SVG's transparent padding
  docs/.vitepress/theme/style.css
  docs/assets/pro.svg
Due: none

Render the PRO badge on Pro pages (#72)
  docs/.vitepress/theme/style.css
  docs/assets/pro.svg
Due: none

docs: verify AnyCable+ CLI against a live cable and document the full command set
  docs/plus/cli.md
  docs/quickstart.md
Due: mdl, lychee, forspell, rubocop

docs: fix the hosted-server quickstart path (shell restart after install, step 4 secret via cable update)
  docs/quickstart.md
Due: mdl, forspell, rubocop

docs: add AnyCable+ CLI page and surface the Rails setup generator in the quickstart
  docs/.vitepress/config.mts
  docs/editions.md
  docs/plus/cli.md
  docs/quickstart.md
  docs/ruby/cli.md
  forspell.dict
Due: mdl, lychee, forspell, rubocop

docs: fix Action Cable migration anchor in GraphQL page
  docs/js/graphql.md
Due: mdl, lychee, forspell, rubocop

docs: GraphQL subscriptions with Apollo for the JavaScript section
  docs/.vitepress/config.mts
  docs/anycable-go/apollo.md
  docs/js/graphql.md
  forspell.dict
Due: mdl, lychee, forspell, rubocop

docs: link Apollo's subscriptions guide from the client GraphQL page
  docs/js/graphql.md
Due: mdl, lychee, forspell, rubocop

docs: add AnyCable+ CLI page and surface the Rails setup generator in the quickstart (#71)
  docs/.vitepress/config.mts
  docs/editions.md
  docs/plus/cli.md
  docs/quickstart.md
  docs/ruby/cli.md
  forspell.dict
Due: mdl, lychee, forspell, rubocop

Document GraphQL subscriptions with Apollo (Pro-first) (#70)
  docs/.vitepress/config.mts
  docs/anycable-go/apollo.md
  docs/js/graphql.md
  forspell.dict
Due: mdl, lychee, forspell, rubocop

fix: actually ship Markdown content negotiation to production
  .github/workflows/deploy.yml
  docs/netlify/edge-functions/markdown-for-agents.ts
  docs/public/_redirects
  netlify.toml
Due: none

fix: actually ship Markdown content negotiation to production (#74)
  .github/workflows/deploy.yml
  docs/netlify/edge-functions/markdown-for-agents.ts
  docs/public/_redirects
  netlify.toml
Due: none

fix: install deps so the Netlify CLI deploy can run the build
  .github/workflows/deploy.yml
Due: none

fix: install deps so the Netlify CLI deploy can run the build (#75)
  .github/workflows/deploy.yml
Due: none

fix: edge_functions path resolves from repo root, not base
  netlify.toml
Due: none

fix: edge_functions path resolves from repo root, not base (#76)
  netlify.toml
Due: none

fix: drop Netlify base dir so edge function bundles reach the deploy
  netlify.toml
Due: none
